.header{
    background-color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    
}

.toggleDrop{
    text-decoration: none;
    color:white;
}
.toggleDrop:hover{
    color: #E21221;
}
.toggleDrop:focus{
    color: #E21221;
}

.dropItem:hover{
    background-color: #E21221;
    color: white;
}



.navLink{
    text-decoration: none;
    color: white;
}
.navLink:hover{
    text-decoration: none;
    color: #E21221;
}

.inputSearch{
    width: 60%;
    margin-right: 0px;
}



