.custom-img{
    width: 20rem;
    height: 11rem;
    border-radius: 5px;
    -webkit-filter : brightness(40%); /* Chrome, Safari, Opera */
    filter : brightness(70%);
    transition-duration: 200ms;
}

.custom-img:hover{
    width: 20rem;
    height: 11rem;
    border-radius: 5px;
    -webkit-filter: brightness(100%); /* Chrome, Safari, Opera */
    filter: brightness(110%);
    transition-duration: 200ms;
}




